<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="{{ url_for('static', filename='form_script.js') }}"></script>

</head>

<body>
  <form action="/process_form" method="post" id="myForm" onsubmit="return validateForm()">
    {% for field in questions_and_choices_dictionary %}
    <p>{{ field["question"] }}</p>

    {% for option in field["list_of_choices"] %}
    <input type="{{ field['button_type'] }}" id="{{ option }}" name="{{ field['question'] }}" value="{{ option }}">
    <label for="{{ option }}">{{ option }}</label><br>
    {% endfor %}
    <br>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>

</body>

</html>